<div class="container">
  <h1>Edit Invoice</h1>
  <%= form_for :invoice,  url: invoice_path, method: :patch do |f| %>

      <% if @invoice.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@invoice.errors.count, "error") %> prohibited
              this invoice from being saved:
            </h2>
            <ul>
              <% @invoice.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= label_tag :merchant, "Merchant" %>
        <%= f.select :merchant_id, Merchant.all.collect {|m| [m.merchant_name, m.id]}, include_blank: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :start_date, "Date" %>
        <%= f.text_field :start_date, value: @invoice.start_date.strftime("%Y-%m-%d"), class: "form-control" %>
      </div>


      <div class="form-group">
        <%= label_tag :description, "Product Description" %>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="table-responsive", class="table table-striped">
        <table class="table">
      <% puts @invoice.inspect%>
          <% @invoice.invoice_items.each do |i| %>
              <tr>
                <td><%= check_box_tag 'selections[]', i.id, false %></td>
                <td><%= label_tag :item, i.description %></td>
                <td><%= text_field_tag "quantity" + i.id.to_s,  nil, placeholder: "0", size: "3" %></td>

              </tr>
          <% end %>
        </table>
      </div>

      <%= submit_tag "Submit", class: "btn btn-default" %>

  <% end %>

</div>