
<h1>Listing Invoices</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Quantity</th>
  </tr>

  <% @invoice.each do |i| %>
      <tr>
        <td><%= i.start_date.strftime("%m/%d/%Y") %></td>
        <td><%= i.merchant %></td>
        <td><%= i.debit %></td>
        <td><%= i.credit %></td>
        <td><%= i.quantity %></td>
        <td><%= link_to 'Show', invoice_path(i) %></td>
        <td><%= link_to 'Edit', edit_invoice_path(i) %></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to "Main Menu", menu_index_path	  %>

