<div class="container">
  <h1>List Invoice</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
      </tr>
      </thead>
      <tbody>

          <tr>
            <td><%= @invoice.start_date.strftime("%Y-%m-%d") %></td>
            <td><%= @invoice.merchant.merchant_name %></td>

            <td><%= link_to 'Show', invoice_path %></td>
            <td><%= link_to 'Edit', edit_invoice_path %></td>
            <td><%= link_to 'Delete', invoice_path, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>

      </tbody>
    </table>
    <%= link_to 'Print', print_path(:invoice => @invoice, format: "pdf")  %>
  </div>
</div>

