<div class="container">
<h1>Create Merchant</h1>
<%= form_for :merchant, url: merchant_index_path do |f| %>

    <% if @merchant.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@merchant.errors.count, "error") %> prohibited
            this merchant from being saved:
          </h2>
          <ul>
            <% @merchant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <div class="form-group">
        <%= label_tag :merchant_name, "Name" %>
        <%= f.text_field :merchant_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :address1, "Address1" %>
        <%= f.text_field :address1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :city, "City" %>
        <%= f.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :state, "State" %>
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :zip, "Zip" %>
        <%= f.text_field :zip, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :phone, "Phone" %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :discount, "Discount" %>
        <%= f.select :discount, options_for_select([['yes', 'yes'], ['no', 'no']],'no'), class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :discount_start_date, "Discount Start Date" %>
        <%= f.text_field :discount_start_date, placeholder: "yyyy-mm-dd", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :discount_end_date, "Discount End Date" %>
        <%= f.text_field :discount_end_date, placeholder: "yyyy-mm-dd", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :cash_account, "Merchant" %>
        <%= f.select :cash_account, options_for_select([['yes', 1], ['no', 0]],0), class: "form-control" %>
      </div>

      <%= submit_tag "Submit", class: "btn btn-primary" %>

<% end %>

</div>