<!DOCTYPE html>
<html>
  <head>
    <title>Mammas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

  <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %> | <%= link_to "Menu", menu_index_path %>
  <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to "Signup", '/signup' %>
  <% end %>

  <div class="container">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
